.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  padding-bottom: 1rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  visibility: hidden;

  h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #111827;
  }
}

.propertyGrid {
  display: grid;
  gap: .8rem;
  grid-template-columns: repeat(2, 1fr);

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
} 